#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
 
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &studio_unlock &kp A &kp A &kp A &kp A &kp A        &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A          &kp A &kp A &kp A &kp A &kp A        &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A          &kp A &kp A &kp A &kp A &kp A        &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A          &kp A &kp A &kp A &kp A &kp A        &kp A &kp A &kp A &kp A &kp A &kp A
                &kp A          &kp A &kp A &kp A &kp A &kp A &kp A  &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp B
            >;
        };
		
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
		
		        // Define extra layers as reserved
        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };
    };
};